[project]
name = "rayx"
version = "0.4.1"
description = "Python bindings for RAYX"
readme = "README.md"
license = { file = "LICENSE" }

dependencies = ["numpy >= 2.0.0"]
requires-python = ">=3.7"
authors = [{ name = "RAYX team", email = "rayx-support@helmholtz-berlin.de" }]
maintainers = [
    { name = "RAYX team", email = "rayx-support@helmholtz-berlin.de" },
]

[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[tool.cibuildwheel]
archs = ["x86_64"]
build = ["*manylinux*"]
manylinux-x86_64-image = "gitea.valentinstoecker.de/vls/manylinux_cuda"
