[project]
name = "rayx"
version = "0.4.1"
description = "Python bindings for RAYX"
readme = "README.md"
license = { file = "LICENSE" }

dependencies = ["numpy >= 2.0.0"]
requires-python = ">=3.7"
authors = [{ name = "RAYX team", email = "rayx-support@helmholtz-berlin.de" }]
maintainers = [
    { name = "RAYX team", email = "rayx-support@helmholtz-berlin.de" },
]

[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[tool.cibuildwheel]
archs = ["x86_64"]
build = ["*manylinux*"]
manylinux-x86_64-image = "manylinux_2_28"
before-all = [
    "yum install -y wget hdf5-devel",
    "rpm -i cuda-repo-rhel8-13-0-local-13.0.2_580.95.05-1.x86_64.rpm",
    "yum clean all",
    "yum -y install cuda-toolkit-13-0",
    "export PATH=/usr/local/cuda-13.0/bin:$PATH",
    "export LD_LIBRARY_PATH=/usr/local/cuda-13.0/lib64:$LD_LIBRARY_PATH",
    "export CUDA_HOME=/usr/local/cuda-13.0",
    "nvcc --version",
    "wget https://archives.boost.io/release/1.88.0/source/boost_1_88_0.tar.gz",
    "tar xf boost_1_88_0.tar.gz",
    "cd boost_1_88_0",
    "chmod +x bootstrap.sh",
    "./bootstrap.sh",
    "./b2",
    "./b2 install --prefix=/usr/local",
    "cd ..",
]
environment = { PATH = "/usr/local/cuda-13.0/bin:$PATH", LD_LIBRARY_PATH = "/usr/local/cuda-13.0/lib64:$LD_LIBRARY_PATH" }
